.Card {
  background-color: #fafafa;
  border-radius: 14px;
  height: 285px;
  padding: 5px;
  position: relative;
  width: 200px;
  margin: 5px;
}
.img {
  margin: 5px;
  width: 170px;
}
.titleName {
  font-size: 1.1rem;;
  margin: 10px;
  text-align: center;
}
.titleId{
  font-size: 0.7rem;
  margin: 10px;
  text-align: center;
}