.body {
  background-color: #fafafa;
  height: 50px;
  margin: 10px auto;
  padding: 1px;
  width: 1040px;
}
.filter{
  height: 30px;
  margin: 9px auto;
  width: 300px;
}

.filterInput {
  border-radius: 4px;
  border: 1px solid #212121;
  font-weight: bold;
  height: 100%;
  padding: 5px;
  width: 100%;
}